@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url('../Assets/Images/undersea.png');
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: $favColor;
  overflow-x: hidden;
  font-family: MonaShark;
}

@font-face {
  font-family: 'MonaShark';
  src: url('../Assets/Fonts/MonaShark.woff2') format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
