.shark {
  height: 400px;
  position: absolute;
  z-index: 5;
  top: -10%;
  right: -100%;
  display: none;
}

.eatStudent {
  display: block;
  animation: sharkEat 7s 1;
}

@keyframes sharkEat {
  0% { right: -100%; transform: translateY(0); }
  25% { transform: translateY(100px); }
  50% { transform: translateY(-50px); }
  100% { right: 200%; transform: translateY(0); }
}
